# Dependencies
node_modules/
backend/venv/
frontend/node_modules/
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# React
build/
dist/
.env
.env.local
.DS_Store
